 
 <!-- Header-->
 <header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="masthead-heading mb-0">Explore & Search </h1>
            <h2 class="masthead-subheading mb-0">Get Access to unlimited quotations</h2>
            <a class="btn btn-light btn-xl rounded-pill mt-5" href="#scroll">Lets Start !!</a>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>


 <div class="gn text-center p-5 mt-2">
    <div>
        <a class="button btn generate" routerLink="quotes">Lets Generate Quotes</a>
    </div>
 </div>
 <!-- Content section 1-->
 <section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="https://i.postimg.cc/ZnxSrCJt/5ef391bb4173d.jpg"  alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Live... Love... Laugh...</h2>
                    <p>Life is a beautiful journey that is meant to be embraced to the fullest every day. Whether a funny quote from a famous celebrity or an encouraging message about giving it your best from a successful business person, we can all use a little motivation and inspiration these days via a life quote.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 2-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="https://i.postimg.cc/zX9mjHtm/837754-winter-snow-landscape-nature-smiley-748x499.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">To a New Beginning...</h2>
                    <p>Every day the sun rises is a new beginning, and that's a reason to be excited! <br>
                        Take a deep breath and read through these new beginning quotes for inspiration to take that first step.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 3-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="https://i.postimg.cc/rFshcBxq/greatest-teachers.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">A Little Motivation </h2>
                    <p>Taking some time to look to inspiring leaders can help keep the flame of positivity burning bright within your life. Their positive affirmations will uplift you and prepare you for what lies ahead.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="gn2 text-center p-1 mb-5">
    <div>
        <a class="btn button generate2" routerLink="quotes" >Lets Generate Quotes</a>
    </div>
 </div>
