/* .box {
    
    
} */



.box2 {
    /* width: 70%; */
    background-color: rgb(246, 243, 243);
    box-shadow: 0 20px 65px rgb(250, 93, 109);
    /* position: relative; */
    /* border-radius: 5px; */
}


.container:after {
    /* width: 100px; */
    /* height: 100%; */
    background-color: orangered;
    /* z-index: -1; */
    /* margin-top: -10%; */

}
.quote{
    color: brown;
    line-height: 2;
    font-size: 18px;
    text-align: left;
}
h3{
    color: brown;
    margin: 20px 0 60px 0;
    font-weight: 600;
    text-transform: capitalize;
}
.clc{
    background: linear-gradient(rgb(255, 111, 0), rgb(249, 128, 59));
   box-shadow: 0px 2px 8px;
    border: inset orangered;
    border: 2px 4px 1px 3px;
    border-radius: 5px;
    
    /* font-weight: 600; */
    color:white;
    cursor: pointer;
    
}
.btn:hover{
    /* background-color: white;
    color: rgb(84, 20, 20); */
    font-weight: 600;
}
.clc:focus{
    color:rgb(162, 6, 92) ;
    background-color: rgb(255, 0, 115);
    font-style: bolder;
}